<!-- {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
{% assign current_variant = product.selected_or_first_available_variant %} -->

<div>
    <!-- Product page main content here -->
</div>
{% schema %}

{
    "name": {
        "en": "Product Information",
        "np": "उत्पादन जानकारी"
    },
    "tag": "section",
    "class": "section",
    "settings": []
}

{% endschema %}
